.textfield {
  .textfield__title {
    padding-bottom: 4px;
  }
  .textfield__input {
    padding-left: 13px;
    // responsive
    width: 100%;
    height: 44px;
    width: 100%;
    max-width: 320px;
    //styling border
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
  }
  //styling placeholder
  .textfield__input::placeholder {
        letter-spacing: 1px;
        color: $DARK_25;
        font-size: 14px;
        line-height: 18px;
  }
  // styling inputs text
  .textfield__input[type=email], .textfield__input[type=text] {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.6;
    color: $DARK_75;
  }
  .textfield__input:hover, .textfield__input:focus {
    border-color: $DARK_50;
    outline: none;
  }
}
