.button.button_theme_fill {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  &:hover {
    opacity: 0.5;
  }
  .button__placeholder {
    padding-top: 10px;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}
.button.button_theme_shape {
  max-width: 99px;
  border: 2px solid $PURPLE;
  &:hover {
    border: 2px solid rgba(145, 162, 249, 0.5);
  }
  .button__placeholder {
    padding-top: 10px;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    color: $PURPLE;
  }
}
.button.button_theme_emptyGray {
  height: initial;
  .button__placeholder {
    padding-top: 10px;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    color: rgba(31, 32, 65, 0.5);
  }
}
.button.button_theme_emptyPurple {
  height: initial;
  .button__placeholder {
    padding-top: 10px;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    color: $PURPLE;
  }
}