mixin likebutton(options)
  .likebutton
    .likebutton__container
      label(class="likebutton__label")
        input(type="checkbox")
        span(class="likebutton__checkmark")
        span(class='likebutton__content')= options.count
