mixin likebutton(options)
  .likebutton
    label(class="likebutton__label")
      input(type="checkbox")
      span(class="likebutton__checkmark")
      span(class='likebutton__content')= options.count
