extends ../layout.pug

include ../../ui_kit/checkbutton/checkbutton
include ../../ui_kit/expendcheckbox/expendcheckbox
include ../../ui_kit/dropdown/dropdown

block content
	.wrapper.wrapper_searchroom