section(class='footer')
	.footer__content
		.footer__header
			.footer__logo
				img(class='footer__logo', src='public/logo.svg')
				h2(class='footer__title') TØXIN
			.footer__description
				p Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
		.footer__row
			p(class='active') Navigation
			p About Us
			p News
			p Support
			p Products
		.footer__row
			p(class='active') About Us
			p Who we are
			P Our team
			P Careers
			P Investors
		.footer__row
			p(class='active') Support
			P Documentation
			P Community
			P Get in Touch
		.footer__row
			p(class='active') Support
			P Documentation
			P Community
			P Get in Touch			
	.copyright
		.copyright__text
			p Copyright © 2018 Toxin UI Kit. All rights reserved.
		.copyright__social
			img(src='public/twitter.svg')
			img(src='public/facebook.svg')
			img(src='public/instagram.svg')