.booking {
	padding: 0 29px;
	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	// 
	// 
	max-width: 380px;
	height: 511px;
	// 
	// 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
	.booking__header {
		position: relative;
		top: 13px;
		display: flex;
		justify-content: space-between;
	}
	.booking__calendar {
		position: relative;
		top: 2px;
	}
	.booking__dropdown {
		position: relative;
		top: -7px;
	}
	.booking__calculate {
		display: flex;
		justify-content: space-between;
		// position: relative;
		top: -11px;
		margin: -10px 0;
	}
	.booking__total {
		position: relative;
		top: 13px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		// padding-bottom: -10px;
		align-items: baseline;
		.booking__underline {
			margin-right: -3px;
			width: 60%;
			border-bottom: 1px dotted $DARK_25; 
		}
	}
	.booking__button {
		position: relative;
		top:2px;
	}
}