// tpye radio
.checkbutton.checkbutton_type_radio {
  // create a custom checkmark
  .checkbutton__checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #FFFFFF;
    border: 1px solid $DARK_25;
    box-sizing: border-box;
    border-radius: 10px;
  }
  /* Style the checkmark/indicator */
  .checkbutton__checkmark:after {
    width: 12px;
    margin-left: 3px;
    margin-top: 3px;
    height: 12px;
    border-radius: 50%;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  }
}
// type box
.checkbutton.checkbutton_type_box {
  // show element in row
  .checkbutton__block {
    display: block;
  }
  // create a custom checkmark
  .checkbutton__checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #FFFFFF;
    border: 1px solid $DARK_25;
    box-sizing: border-box;
    border-radius: 4px;
  }
  /* Style the checkmark/indicator */
  .checkbutton__checkmark:after {
    margin-left: 5.4px;
    margin-top: 3px;
    width: 4px;
    height: 7px;
    border: solid #BC9CFF;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
// type toggle
.checkbutton.checkbutton_type_toggle {
  .checkbutton__block {
    margin-top: 0;
    .checkbutton__container {
      .checkbutton__label {
        padding-left: 50px;
      }
      /* Create the checkmark/indicator */
      .checkbutton__checkmark:after {
        content: "";
        top: 3px;
        left: 3px;
        position: absolute;
        display: block;
        width: 12px;
        height: 12px;
        background-color: $DARK_25;
        border-radius: 50%;
        -webkit-transition: .4s;
        transition: .4s;
      }
      /* Create toggle the checkmark when checked */
      .checkbutton__checkmark {
        position: absolute;
        top: 2px;
        left: 0;
        height: 20px;
        width: 40px;
        background: #FFFFFF;
        border: 1px solid $DARK_25;
        box-sizing: border-box;
        border-radius: 10px;
        -webkit-transition: .4s;
        transition: .4s;
      }
      // style border-color when checked and animated
      input:checked + .checkbutton__checkmark:after {
        background-color: $PURPLE;
        -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(20px);
      }
    }
  }
}
