mixin radiobutton(options)
  .radiobutton
    h3(class='radiobutton__title')= options.title
    .radiobutton__block
      - for (var i = 0; i < options.items.length; i++) {
        .radiobutton__container
          label(class="radiobutton__label")= options.items[i]
            input(type="checkbox")
            span(class="radiobutton__checkmark")
      - }
