include ../../../ui_kit/textfield/textfield
section(class='footer')
	.footer__content
		.footer__header
			.footer__logo
				img(class='footer__logo', src=require('./../../public/logo.svg'))
				h2(class='footer__title') TØXIN
			.footer__description
				p Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
		.footer__right
			.footer__row
				h3(class='active') НАВИГАЦИЯ
				p О нас
				p Новости
				p Служба поддержки
				p Услуги
			.footer__row
				h3(class='active') О НАС
				p О сервисе
				P Наша команда
				P Вакансии
				P Инвесторы
			.footer__row
				h3(class='active') СЛУЖБА ПОДДЕРЖКИ
				P Соглашения
				P Сообщества
				P Связь с нами
			.footer__row
				h3(class='active') ПОДПИСКА
				P Получайте специальные предложения и новости сервиса
				+textfield({type: 'Email', placeholder: 'Email', arrow: true})
	.copyright
		.copyright__text
			p Copyright © 2018 Toxin UI Kit. All rights reserved.
		.copyright__social
			a(href='https://twitter.com/?lang=ru')
				img(src=require('./../../public/twitter.svg'))
			a(href='https://facebook.com/?lang=ru')
				img(src=require('./../../public/facebook.svg'))
			a(href='https://instagram.com/?lang=ru')
				img(src=require('./../../public/instagram.svg'))