//import size for dropdown block
@import "./_size/dropdown_size";
/*
START DEFAULT DROPDOWN STYLE
*/
.dropdown {
  // disabled selection text
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none;

  //remove all margin and padding
  margin: 0;
  padding: 0;
  //responsive
  width: 100%;
  position: relative;
  .dropdown__title {
      letter-spacing: 1px;
      margin-bottom: 3px;
  }
  .dropdown__input {
    height: 44px;
    box-sizing: border-box;
    //
    border: 1px solid rgba(31, 32, 65, 0.5);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    // make flex
    display: flex;
    justify-content: space-between;
    align-items: center;
    //
    p, span {
      letter-spacing: 0.6px;
      margin: 12px 14px 15px 15px;
    }
    // add arrow
    .dropdown__arrow:before {
      //cursor lika a hand
      cursor: pointer;
      // arrow
      content: '\2329';
      display: inline-block;
      margin-top: 10px;
      transform: rotate(-90deg);
    }
  }
  //default not show expended block
  .dropdown__expended {
    display: none;
  }
  // when ative - show
  .dropdown__expended.dropdown-active {
    position: absolute;
    background: #FFFFFF;
    padding-bottom: 3px;
    //border color and radius
    border: 1px solid rgba(31, 32, 65, 0.5);
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-top: none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    // display
    display: flex;
    flex-wrap: wrap;
    .item {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 4px 0;
      .item__title {
        letter-spacing: 0.6px;
        margin-left: 15px;
      }
      .item__content {
        margin-right: 5px;
        display: flex;
        align-items: center;
      //  margin-left: 15px;
        button, h3 {
          width: initial;
          margin: 0 6px;
        }
        button {
          cursor: pointer;
          border: 1px solid rgba(31, 32, 65, 0.25);
          border-radius: 50%;
          width: 30px;
          height: 30px;
        }
        button:focus {
          outline: none;
        }
        button:active {
          border-style: solid;
          transform: scale(0.95);
        }
        button:disabled {
          border-color: rgba(31, 32, 65, 0.10);
        }
      }
    }
    .dropdown__buttons {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin: 15px 0 5px 0;
      h3 {
        margin: 0 15px;
        // make cursor
        cursor: pointer;
      }
      .dropdown__clear {
        color: rgba(31, 32, 65, 0.5);
      }
      .dropdown__apply {
        color: #BC9CFF;
      }
    }
  }
}
/*
END DEFAULT DROPDOWN STYLE
*/
