mixin dropdown(options)
  .dropdown.dropdown_size_m
    h3(class='dropdown__title') dropdown
    .dropdown__input
      p(class='dropdown__placeholder') Сколько гостей
      span(class='dropdown__arrow' data-arrow='arrow')
    .dropdown__expended
      - for (var i = 0; i < options.items.length; i++) {
        .item
          h3(class='item__title')= options.items[i]
          .item__value
            button -
            h3(class='item__title') 2
            button +
      - }
