@import "./_theme/button_theme";
@import "./_size/button_size";

.button {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  border-radius: 22px;
  /* Primary Gradient */
  .button__placeholder {
  	width: 80%;
  	text-align: center;
    font-weight: bold;
  }
}
