//import modificators
@import "./_type/checkbutton_type";
.checkbutton {
  // make one by one
  .checkbutton__block {
    margin-top: 10px;
    display: flex;
    .checkbutton__container {
      margin-right: 15px;
      margin-top: 10px;
      position: relative;
      .checkbutton__label {
        display: block;
        position: relative;
        padding-left: 30px;
        padding-bottom: 0px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      // disable standart checked button
      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }

      // style border-color when checked
      input:checked ~ .checkbutton__checkmark {
        border-color: $PURPLE;
      }
    }
  }
}
