include ../../ui_kit/ratestar/ratestar
mixin previewroom(options)
	section(class='previewroom')
		img(class='previewroom__img', src=options.img)
		.previewroom__header
			h2= options.number 
				- if (options.lux) {
					span(class='purple') люкс
				-	}
			p 
				span(class='bold')= options.price
				|	в сутки
		.previewroom__underline
		.previewroom__footer
			+ratestar({count: options.starRate, rating: options.rating})
			p 
				span(class='bold')= options.reviews
				|  Oтзывов