.registration {
	// 
	min-width: 320px;
	max-width: 380px;
	height: 646px;
	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
	border-radius: 4px;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	// 
	padding: 0 30px;
	// 
	// position all element in cards
	// 
	.registration__title {
		letter-spacing: 0.7px;
		position: relative;
		top: 24px;
	}
	// 
	.registration__textfield {
		position: relative;
		top: 26px;
		.textfield {
			margin-bottom: 10px;
		}
	}
	.registration__checkbutton {
		position: relative;
		top: -12px;
	}
	// 
	.registration__birthday {
		position: relative;
		top: -7px;
	}
	.registration__login {
		position: relative;
		top: -2px;
		.textfield {
			margin-bottom: 10px;
		}
	}
	.registration__toggle {
		position: relative;
		top: -31px;
	}
	.registration__button {
		position: relative;
		top: -26px;
	}
	// 
	.registration__footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		top: -12px;
		p {	
			letter-spacing: 0.45px;
			color: black;
		}
		.button {
			margin-right: 0px;
		}
	}
}


// 
// При разрешение 375 и меньше добавить прозрачность цвета фону

@media screen and  (max-width: 376px) {
	.registration {
		background: #ffffff40;
	}
}