.calendar {
	position: relative;
	// disable select
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	// set size
	width: 320px;
	//styling dropdown
	.datedropdown {
		display: flex;
		justify-content: space-between;
		// style datedropdown
		.datedropdown__input {
			display: flex;
			// set width and height
			width: 150px;
			height: 44px;
			// set border
			background: #FFFFFF;
			border: 1px solid rgba(31, 32, 65, 0.25);
			box-sizing: border-box;
			border-radius: 4px;
			// margin text and change color
			p {
				color: $DARK_75;
				margin: 8px 15px;
			}
			// add arrow
			.datedropdown__arrow:after {
				content: '\2329';
				margin-top: 12px;
				display: block;
				transform: rotate(-90deg);
				cursor: pointer;
			}
		}
	}
	// styling calendar
	.calendar__content {
		position: absolute;
		z-index: 1;
		background: #FFFFFF;
		// diable default display
		display: none;
		margin-top: 5px;
		//  add box
		width: 100%;
		min-height: 370px;
		//  add border and shadow
		background: #FFFFFF;
		border: 1px solid rgba(31, 32, 65, 0.25);
		box-sizing: border-box;
		box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
		border-radius: 4px;
		// 
		.widget__header {
			margin-top: 20px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			img {
				padding: 0 20px;
				cursor: pointer;
			}
		}
		.widget__content {
			padding: 30px 0 0 0; 
			ul {
				padding: 0;
				list-style: none;
				li {
					p {
						font-family: Montserrat, sans-serif;
						font-style: normal;
						font-weight: bold;
						font-size: 12px;
						line-height: 15px;
						color: $PURPLE;
					}
				}
			}
			.widget__nameweek {
			    padding: 0px 20px;
				display: flex;
				justify-content: space-around;
			}
			.widget__days {
			    display: flex;
			    flex-wrap: wrap;
			    margin-left: 20px;
			    text-align: center;
			    /* justify-content: unset; */
				li {	
					width: 40px;
					height: 40px;
					cursor: pointer;
					span {
						margin: 13px 0;
	    				display: inline-block;
						color: $DARK_50;
						font-family: Montserrat, sans-serif;
						font-style: normal;
						font-weight: normal;
						font-size: 12px;
						line-height: 15px;
						pointer-events: none;
					}
				}
				.widget__li.no-current {
					span {
						color: $DARK_25;
					}
				}
				.widget__li.current {
					background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
					border-radius: 22px;
					span {
						font-weight: bold;
						color: white;
					}
				}
			}
		}
	}
	.calendar__content.opened {
		display: block;
	}
	.widget__button {
	    margin: 0 20px;
	    padding-bottom: 20px;
	    display: flex;
	    justify-content: space-between;
	}
}