include ./ui_kit/bulletlist/bulletlist

html
  head
    title Tøxin Hotel
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(content="charset=utf-8") 
    meta(name="description" content="Сайт об для поиска и бронирования номеров")
    link(rel="shortcut icon" href="/public/favicon.ico")
  body  
    .wrapper
      +bulletlist({title: 'bullet list', items: ['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00']})
