include ./ui_kit/button/button
html
	head
		title Tøxin Hotel
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(content="charset=utf-8") 
		meta(name="description" content="Сайт об для поиска и бронирования номеров")
		link(rel="shortcut icon" href="/public/favicon.ico")
	body
		.wrapper
			+button({placeHolder: 'Забронировать', modificator: 'button_size_w320h44 button_theme_fill',
			arrow: true})