/* START VARIABLES */
  $DARK_100: #1F2041;
  $DARK_75: rgba(31, 32, 65, 0.75);
  $DARK_50: rgba(31, 32, 65, 0.5);
  $DARK_25: rgba(31, 32, 65, 0.25);
  $DARK_5: rgba(31, 32, 65, 0.05);
  $PURPLE: #BC9CFF;
  $GREEN: #6FCF97;
/*END VARIABLES*/

/* IMPORT FROM UI_KIT */
@import "./ui_kit/dropdown/dropdown";
@import "./ui_kit/checkbutton/checkbutton";
@import "./ui_kit/ratestar/ratestar";
@import "./ui_kit/bulletlist/bulletlist";
@import './ui_kit/expendcheckbox/expendcheckbox';
@import "./ui_kit/textfield/textfield";
@import "./ui_kit/descriptionblock/descriptionblock";
@import "./ui_kit/likebutton/likebutton";
@import "./ui_kit/button/button";
@import "./ui_kit/calendar/calendar";
@import "./ui_kit/pagination/pagination";
//@import "./mixin";

/* IMPORT FROM CARDS */
@import "./ui_cards/searchroom/searchroom";
@import "./ui_cards/login/login";
@import "./ui_cards/registration/registration";
@import "./ui_cards/booking/booking";
@import "./ui_cards/previewroom/previewroom";

/* IMPORT FROM TEMPLATE */
@import "./template/includes/header/header";
@import "./template/includes/footer/footer";
/* IMPORT FROM VIEWS */
@import "./template/views/filter/filter";


/* START BASE CUSTOM */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}
body {
  overflow-x: hidden;
  margin: auto;
  width: 100%;
  max-width: 1920px;
}

h1 {
  font-family: Quicksand, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}
h2 {
  font-family: Quicksand, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
}
h3 {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}
h1, h2, h3 {
  letter-spacing: 0.6px;
  margin: 0;
  padding: 0;
  color: $DARK_100;
}
p, span, label, a {
  margin: 0;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: $DARK_50;
}
/* END BASE CUSTOM */

.purple {
  color: $PURPLE;
}
.bold {
  font-weight: bold;
}

/* STYLE FOR CARDS AT ONE PAGE*/
.wrapper {
  width: 100%;
  margin: auto;
  .login {
    margin: auto;
  }
  .registration {
      margin: auto;
  }
}
.wrapper-login {
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -70px;
  background-image: url('public/registrationBG.jpg');
  padding: 163px 0;
}
// 
.wrapper-registration {
    background-repeat: no-repeat;
    background-size: cover;
  background-repeat: no-repeat;
  background-image: url('public/registrationBG.jpg');
    padding: 30px 0;
}
// 
.wrapper-main {
  //  set height for bg img
  height: 852px;
  // align centr contennt
  margin: auto;
  // bg img
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('public/main.jpg');
  background-position-y: -71px; 
  // 
  width: 100%;
  // negative margin, up delete space
  margin-bottom: -20px;
  // text on bg img
  .wrapper__description {
    text-align: right;
    position: absolute;
    top: 830px;
    right: 400px;
    width: 280px;
  }
  // content
  .searchroom {
   position: relative;
   top: 70px;
   left: 140px;
  }
}
.wrapper-room {
  .room {
    .room__image {
      display: flex;
      .image__main {
        width: 70%;
        img {
          width: 100%;
        }
      }
      .image__additional {
        display: flex;
        flex-wrap: wrap;
        width: 30%;
        img {
          width: 100%;
        }
      }
    }
    .room__content {
      padding: 70px 140px;
      display: flex;
      .room__left {
        width: 60%;
        .room__details {
          display: flex;
          width: 40%;
        }
        .room__rules {
          padding-top: 30px;
          display: flex;
        }
      }
      .room__right {
        width: 40%;
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}

// 
// media
// @media screen and  (max-width: 773px) {
//   .wrapper-main {
//     .searchroom {
//       position: relative;
//       top: 120px;
//       left: 0px;
//       margin: 0 auto 0 auto;
//     }
//   }
// }

// 
// @media screen and  (max-width: 1439px) {
//   .wrapper-main {
//      background-position-y: 0px;
//   }
// }

// 
// @media screen and  (max-width: 1150px) {
//   .wrapper-filter {
//      .filter__content {
//       padding: 30px 25px 170px 25px;
//      }
//   }
// }

// 
@media screen and  (max-width: 1439px) {

}
@media screen and  (max-width: 1240px) {

}

@media screen and  (max-width: 900px) {
}
