/* START VARIABLES */
  $DARK_100: #1F2041;
  $DARK_75: rgba(31, 32, 65, 0.75);
  $DARK_50: rgba(31, 32, 65, 0.5);;
  $DARK_25: rgba(31, 32, 65, 0.25);;
  $DARK_5: rgba(31, 32, 65, 0.05);;
  $PURPLE: #BC9CFF;
  $GREEN: #6FCF97;
/*END VARIABLES*/

@import "./ui_kit/dropdown/dropdown";
@import "./ui_kit/radiobutton/radiobutton";
@import "./mixin";
/* START BASE CUSTOM */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}
body {
  max-width: 1440px;
}

h1 {
  font-family: Quicksand, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}
h2 {
  font-family: Quicksand, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
}
h3 {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}
h1, h2, h3 {
  letter-spacing: 0.6;
  margin: 0;
  padding: 0;
  color: $DARK_100;
}
p, span, label {
  margin: 0;

  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: $DARK_75;
}
/* END BASE CUSTOM */

.wrapper {
  margin-left: 10%;
  margin-right: 10%;
}
