include ./ui_kit/dropdown/dropdown

html
  head
    title Tøxin Hotel
    meta(content="charset=utf-8") 
    meta(name="description" content="Сайт об для поиска и бронирования номеров")
    link(rel="shortcut icon" href="/public/favicon.ico")
  body
    .wrapper
      +dropdown({items: ['Взрослые', 'Дети', 'Младенцы']})
