.button.button_size_w79h34 {
	  height: 34px;
	  width: 100%;
	  max-width: 79px;
}
.button.button_size_w99h44 {
	  height: 44px;
	  width: 100%;
	  max-width: 99px;
}
.button.button_size_w320h44 {
	  height: 44px;
	  width: 100%;
	  max-width: 320px;
}
.button.button_size_w101h34 {
	  height: 34px;
	  width: 100%;
	  max-width: 101px;
}